$palette-primary: (
    50 : #f3ecfd,
    100 : #e1cef9,
    200 : #cdaef5,
    300 : #b98ef1,
    400 : #aa75ee,
    500 : #9b5deb,
    600 : #9355e9,
    700 : #894be5,
    800 : #7f41e2,
    900 : #6d30dd,
    A100 : #ffffff,
    A200 : #f3edff,
    A400 : #d1baff,
    A700 : #c0a1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-accent: (
    50 : #f0f7ff,
    100 : #daecff,
    200 : #c1e0ff,
    300 : #a8d3ff,
    400 : #95c9ff,
    500 : #82c0ff,
    600 : #7abaff,
    700 : #6fb2ff,
    800 : #65aaff,
    900 : #529cff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f7fbff,
    A700 : #deecff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$deep-purple: #9B5DEB;
$purple: #C182FF;
$blue-primary: #8382FF;
$blue-secondary: #82C0FF;
$pink-primary: #FF82FE;
$pink-secondary: #FF82C0;
$dark: #1A1A1A;
$light: #D1D1D1;
$white: white;