section{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: 'Big Shoulders Display', cursive;

    & > .container {
        position: absolute;
        left: 9%;
        right: 9%;
        top: 9%;
        bottom: 9%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}