@import '../../../styles/colors';

h4{
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.rating{
    display: flex;
    justify-content: center;
}

.level{
    $size: 16px;
    width: $size;
    height: $size;
    display: inline-flex;
    border-radius: $size/2;
    border: solid 2px $pink-secondary;
    margin: 4px;

    &.filled{
        background-image: radial-gradient($white, $pink-secondary 95%);
        background-size: 200% 200%;
        background-position: center;

        animation: glowing-spheres 1.25s ease-out infinite alternate;
    }
}

@keyframes glowing-spheres {
    to{
        background-size: 100% 100%;
    }
}