@import '../../../styles/colors';

h4{
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.rating{
    display: flex;
    justify-content: center;
}

.level{
    $size: 16px;
    width: $size;
    height: $size/2;
    display: inline-flex;
    // border-radius: $size/2;
    border: solid 2px $pink-secondary;
    margin: 4px 0;

    &.filled{
        background-image: linear-gradient(90deg, $pink-secondary, $white, $pink-secondary);
        background-size: 200% 100%;
        background-position: 100% 100%;
         &:not(:last-of-type){
             border-right: none;
         }
         &:not(:first-of-type){
             border-left: none;
         }

        animation: glowing-spheres 4.75s infinite ease-out;
    }
}

@keyframes glowing-spheres {
    to{
        background-position: -100% 100%;
    }
}