<section
scrollTop 
scrollBottom 
(onScrollTop)="callbackScrollTop($event)" 
(onScrollBottom)="callbackScrollBottom($event)">
    <div class="container"
    [@fadeOutLeft]="scrollingBottom ? 'false' : null" 
    [@fadeOutRight]="scrollingTop ? 'false' : null"
    [@fadeInLeft]="prevUrl === '/skills' ? 'true' : null"
    [@fadeInRight]="prevUrl === '/school' ? 'true' : null">
        <h2>Jobs</h2>

        <div class="timeline">
            <div class="icon-container">
                <mat-icon>work</mat-icon>
            </div>
            <div *ngFor="let job of jobs" class="jobs">
                <div class="local">
                    <span>
                        {{ job.company }}
                    </span>
                </div>
                <hr>
                <div class="period">
                    <span>
                        {{ job.from }}
                    </span>
                    <span>
                        {{ job.to }}
                    </span>
                </div>
                <div class="name">
                    <span>
                        {{ job.position }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="gradient"
    [@slideOutRight]="scrollingTop || scrollingBottom ? 'false' : null" 
    [@slideInRight]="'true'"></div>
    <div class="gradient"
    [@slideOutRight]="scrollingTop || scrollingBottom ? 'false' : null" 
    [@slideInRight]="'true'"></div>
</section>
