@import '../../styles/section';
@import '../../styles/colors';

.gradient{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    background-image: linear-gradient(90deg, rgba($deep-purple, .6), rgba($dark, .2));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    animation: glowing-side 5s infinite alternate ease-in-out;
}

.container{
    border: solid 1px $white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 20px 12vw; 
    color: rgba($white, .8);
    font-size: 5rem;
    font-weight: 400;
    line-height: 5rem;
    
    .left,.right{
        .bolder{
            color: $white;
            font-weight: 500;
        }
    }
    
    .right{
        flex: 1;
        text-align: right;

        .flag{
            height: 5rem;
            img{
                height: 100%;
            }
        }
    }
}

.more-content{
    position: absolute;
    right: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $blue-secondary;
    cursor: pointer;

    animation: bouncing .525s ease-out infinite alternate;

    & > span {
        text-align: center;
    }
}



@keyframes bouncing {
    from {
        transform: translateX(8px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes glowing-side {
    from {
        background-size: 50% 100%;
    }
    to{
        background-size: 100% 100%;
    }
}